{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 m-auto">
<h3 style="text-align: center;">Editar Cadastro:</h3><br>
<form action="{{url_for('edit', id=g.id)}}" method="POST">
    <input type="text" name="nome" placeholder="Nome do Aluno" class="form-control" value="{{g.nome}}" required>
    <br>
    <input type="text" name="cidade" placeholder="Cidade" class="form-control" value="{{g.cidade}}" required>
    <br>
    <input type="text" name="email" placeholder="Email" class="form-control" value="{{g.email}}" required>
    <br>
    <input type="number" name="semestre" placeholder="Semestre"  class="form-control" value="{{g.semestre}}" required>

    <a href="{{url_for('edit', id=g.id)}}" onclick="return confirm('Confirma as alterações?')"><input
    type="submit" value="Alterar" class="btn btn-warning"></a>
    <a href="{{url_for('cadalunos')}}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
</form>
</div>
{% endblock content %}