{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="sobre">Sobre Nós</h1>
        <br>
        <p class="descricao">
            O TechWork Institute é uma instituição de ensino dedicada à aprendizagem no ramo da tecnologia. 
            Fundada em 2018 por um grupo de especialistas em ciência de dados, nosso objetivo é capacitar profissionais e 
            pesquisadores para enfrentar os desafios complexos do mercado tecnológico.<br> Nossa abordagem educacional é baseada 
            na combinação de teoria e prática, com foco em projetos reais e experiências práticas. 
            Acreditamos que a melhor maneira de aprender é fazendo, por isso oferecemos laboratórios equipados com as mais 
            recentes tecnologias e ferramentas de análise de dados.
        </p>
        <p class="descricao">
            Além dos cursos regulares, o TechWork Institute também realiza pesquisas de ponta em áreas como aprendizado de máquina,
            análise de big data e inteligência artificial. Nossos pesquisadores estão constantemente trabalhando em projetos inovadores
            que têm o potencial de transformar a maneira como vivemos e trabalhamos. Através de parcerias com empresas líderes do setor,
            proporcionamos aos nossos alunos oportunidades únicas de estágio e emprego, garantindo que estejam preparados para o mercado de trabalho.
        </p>
        <p class="descricao">
            Nossa equipe de professores e pesquisadores é composta por especialistas renomados que estão na vanguarda da tecnologia,
            garantindo que nossos alunos tenham acesso às informações mais recentes e relevantes da área. No TechWork Institute, 
           acreditamos no poder da tecnologia para transformar vidas e impulsionar o progresso, e estamos comprometidos em capacitar
            a próxima geração de líderes tecnológicos. Junte-se a nós e faça parte desta jornada emocionante rumo ao futuro da tecnologia.
    </p>
</div>

{% endblock content %}